.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $yellow;
    border-radius: 0px 0px 24px 24px;
    padding: 4rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    row-gap: 1rem;
    .img {
        width: 120px;
        border: 1px solid $black;      
        border-radius: 120px;
    }
}

.buttonsIndex {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 1rem;
    row-gap: 2rem;
}

.btnPrimary {
    background-color: $green;
    padding: 24px;
    border-radius: 100px;
    border: 1px solid $black;      
}

.btnSecondary {
    background-color: $pink;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid $black;    
}

.btnTertiary {
    background-color: $bg;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    border: 1px solid $black;
    margin: 1rem;
    
}

.btnEliminar {
    background-color: $pink;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid $black;    
}

.cardEsmalte {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: $bg2;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $black;
    border-radius: 1.5rem;
    column-gap:1rem;
    img {
        border: 1px solid $black;
        border-radius: 8px;
        height: 100%;
    }
    .tituloCard {
        width: 100%;
    }
}

input {
    background-color: $bg2;
    padding: 0.5rem;
    border: 1px solid $black;
    border-radius: 100px;
}

.encabezadonuevoesmalte {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    column-gap: 0.5rem;
    .nombreEsmalte {
        width: 80%;
        height: auto;
        background-color: $blue
    }
}

#componentes {
    padding: 1rem;
}

.componente {
    display: flex;
    column-gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .nombreComponente {
        width: 80%;
    }
    .porcentajeComponente {
        width: 20%;
        text-align: center;
    }
}

.bottomButtons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cardComponente {
    display: flex;
    margin: 1rem;
    column-gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .porcentajeNombre {
        width: 80%;
        background-color: $yellow;
        padding: 0.5rem;
        border: 1px solid $black;
        border-radius: 100px;
    }
    .cantidadComponente {
        width: 20%;
        text-align: center;
        background-color: $blue;
        padding: 0.5rem;
        border: 1px solid $black;
        border-radius: 100px;
    }
}

.gramosPreparar {
    display: flex;
    margin: 1rem;
    column-gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .cantidadEsmalte {
        width: 80%;
        padding: 0.5rem;
        border: 1px solid $black;
        border-radius: 100px;
    }
    #calcular {
        width: 20%;
        padding: 0.5rem;
        border: 1px solid $black;
        border-radius: 100px;
    }

}